{{define "users/add-user"}}
<script src="/admin/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste",

        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        paste_data_images: true
    });
</script>
<div class="container medium"> <h1>Add User</h1>

    {{ range $k,$v := .Users}}
        <form id="add-user" method="post" action="/admin/users/new">
            <input type="text" name="UserName" placeholder="Username" value="{{.UserName }}"/><br />
            <input type="password" name="Password" placeholder="New Password"/><br />
            <input type="password" name="Password-again" placeholder="New Password Again"/><br />
            <input type="text" name="FirstName" placeholder="First name" value="{{.LastName}}"/> <br />
            <input type="text" name="Email" placeholder="Email" value="{{.LastName}}"/> <br />
            <input type="text" name="Function" placeholder="Function" value="{{.Function}}"/> <br />
            <p>Rights</p>
            <input type="radio" name="Rights" value="Admin"/>
            <span> Admin | Can add new posts, approve and change them. Add/delete/change users and changes user rights/passwords.</span><br />
            <input type="radio" name="rights" value="Content Manager"/>
            <span> Content Manager | Can add new posts, approve and change them.</span><br />
            <input type="radio" name="rights" value="Author" />
            <span> Author | Can add new posts, change them. The changes made need approval from either a Admin or Content Manager.</span><br />
            <p>Are you sure you want to edit this user?</p>
            <input type="radio" name="confirm" value="Yes" /> Yes
            <input type="radio" name="confirm" value="No" checked="checked" /> No <br />
            <button type="submit" name="submit">Update</button>
        </form>
    {{end}}
</div>
{{end}}