{{define "users/edit-user"}}
<script src="/admin/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste",

        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        paste_data_images: true
    });
</script>
<div class="container medium"> <h1>Edit User</h1>
    <!--// define template vars-->
    {{ range $key, $value := .Users}}
        {{ $rights := .Rights }}
        <form id="add-user" class="container" method="post" action="/admin/users/edit/{{.UserID}}/{{.UserName}}">
            <input type="text" name="username" placeholder="UserName" value="{{ .UserName}}"/><br />
            <input type="password" name="Password" placeholder="New Password"/><br />
            <input type="password" name="Password-again" placeholder="New Password Again"/><br />
            <input type="text" name="FirstName" placeholder="First name" value="{{ .FirstName}}"/> <br />
            <input type="text" name="LastName" placeholder="Last name" value="{{ .LastName }}"/> <br />
            <input type="text" name="Email" placeholder="Email" value="{{ .Email}}"/> <br />
            <input type="text" name="Function" placeholder="Function" value="{{ .Function }}"/> <br />
            <p>Rights</p>

            <p>Are you sure you want to edit this user?</p>
            <input type="radio" name="confirm" value="Yes" /> Yes
            <input type="radio" name="confirm" value="No" checked="checked" /> No <br />
            <button type="submit" name="submit">Update</button>
        </form>
    {{ end }}
</div>
{{end}}

