{{define "nav"}}
    <nav>
        <ul>
            <li><a href="/blog">Home</a></li>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/posts">Posts</a></li>
            <li><a href="/admin/categories">Categories</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/files">Files</a></li>
            <li><a href="/admin/login/logout">Logout</a></li>
        </ul>
    </nav>
    <div id="main">
        <div id="main-content" class="xlarge">
{{end}}