{{define "categories"}}
<div class="top-margin">
    <div class="container large">
        <table class="backend-table title">
            <tr><th>Category</th><th>Author</th><th>N/A</th><th>Date</th><th>Edit</th><th>View</th></tr>
        {{ if .Deleted}}
            <form class="backend-form" method="post" action="/admin/categories/trashed-categories">
        {{ else }}
            <form class="backend-form" method="post" action="/admin/categories">
        {{ end }}
            {{ range $key, $value := .Categories}}
                <tr>
                    <td class="td-title"><p><a href="/admin/categories/{{.Category_ID}}/{{.Title}}">{{.Title}}</a></p></td>
                    <td class="td-author"><p>{{.Author}}</p></td>
                    <td class="td-category"><p>None</p></td>
                    <td class="td-date"><p>{{.Date}}</p></td>
                    <input type="hidden" name="id" value="{{.Category_ID}}" />
                    <td class="td-btn"><a href="/admin/categories/edit/{{.Category_ID}}/{{.Title}}"><img class="glyph-small link-btn" src="/images/edit.png"/></a></td>
                    <td class="td-btn"><img class="glyph-small" src="/images/show.png"/></td>
                    <td class="td-btn"><input type="checkbox" name="checkbox" value="{{.Category_ID}}"/></td>
                </tr>
            {{ end }}
                <div class="container">
                    <table>
                        {{ if .Deleted }}
                        <th>Restore</th><th>Remove</th></tr>
                        <tr><button type="submit" name="restore-selected" id="restore-selected" value="restore"><img class="glyph-small" src="add-post.png"/></button></tr>
                        <tr><button type="submit" name="delete-selected" id="delete-selected" value="delete"><img class="glyph-small" src="delete-post.png"/></button></tr>
                        {{ else }}
                        <tr><th>Trash</th><th>Show</th><th>Hide</th>
                        <tr><button type="submit" name="trash-selected" id="trash-selected" value="trash"><img class="glyph-small" src="trash-post.png"/></button></tr>
                        <tr><button type="submit" name="approve-selected" id="approve-selected" value="approve"><img class="glyph-small" src="show.png"/></button></tr>
                        <tr><button type="submit" name="hide-selected" id="hide-selected" value="hide"><img class="glyph-small" src="hide.png"/></button></tr>
                        {{ end }}
                    </table>
                </div>
            </form>
        </table>
    </div>
</div>
{{end}}