{{ define "files" }}
    {{ $currentFolder := "" }}
    {{ $A := .Folders }}
    <div class="container medium">
        <p>
            {{ range $key, $value := .Messages }}
                <span>{{ . }}</span><br />
            {{ end }}
        </p>
    </div>
    <div class="container medium">
        <form class="small" enctype="multipart/form-data" method="post" action="/admin/files/upload-file">
            <input type="hidden" name="MAX_FILE_SIZE" value="43500000" />
            <label for="uploadfile">Choose File(max size: 3.5 MB): </label><br />
            <input type="file" name="uploadfile" id="uploadfile" multiple="multiple" /><br />
            <select id="albums" name="album_name">

            {{ if ne $currentFolder "" }}
                <option name="{{ $currentFolder }}" value="{{ $currentFolder }}">{{ $currentFolder }}</option>
            {{ else }}
                <option name="none" value="None">None</option>
            {{ end }}
            {{ range $key, $value := .Folders }}
                <option value="{{ .FolderName }}">{{ .FolderName }}</option>
            {{ end }}
            </select>
            <label for="select">Folders</label>
            {{ if ne $currentFolder "" }}
                <input type="text" name="new_folder_name" placeholder="Create New Sub Folder" maxlength="60"/>
            {{ else }}
                <input type="text" name="new_folder_name" placeholder="Create New Folder" maxlength="60"/>
            {{ end }}
            <button type="submit" name="submit_file">Add File('s)</button>
        </form>
    </div>
{{ end }}