{{ define "files" }}
    {{ $currentFolder := .CurrentFolder }}
    {{ $folders := .Folders }}
    {{ $files := .Files }}
    <div class="container medium">
        <p>
            {{ range $key, $value := .Messages }}
                <span>{{ . }}</span><br />
            {{ end }}
        </p>
    </div>
    <div class="container medium">
        <form class="small" enctype="multipart/form-data" method="post" action="/admin/files/upload-file">
            <input type="hidden" name="MAX_FILE_SIZE" value="43500000" />
            <label for="uploadfile">Choose File(max size: 3.5 MB): </label><br />
            <input type="file" name="uploadfile" id="uploadfile" multiple="multiple" /><br />
            <select id="Folders" name="folder_name">
                {{ if eq $currentFolder 0}}
                    <option name="None" value="0">None</option>
                {{ end }}
                {{ range $key, $value := .Folders }}
                    {{ if eq $currentFolder .FolderID }}
                    <option name="{{ .FolderName }}" value="{{ .FolderID }}" selected="selected">{{ .FolderName }}</option>
                    {{ else }}
                    <option name="{{ .FolderName }}" value="{{ .FolderID }}">{{ .FolderName }}</option>
                    {{ end }}
                {{ end }}
            </select>
            <label for="select">Folders</label>
            {{ if $currentFolder }}
                <input type="text" name="new_folder_name" placeholder="Create New Sub Folder" maxlength="60"/>
            {{ else }}
                <input type="text" name="new_folder_name" placeholder="Create New Folder" maxlength="60"/>
            {{ end }}
            <button type="submit" name="submit_file">Add File('s)</button>
        </form>
    </div>

    <div class="container large">
        <form id="check-folders" method="post" action="/admin/files">
            <table class="files-table">
                <thead><th></th><th>Name</th><th>Size(MB)</th></thead>
                <tbody>
                    {{ range $key, $value := $folders }}
                        <tr class="meta">
                            <td><a href="/admin/files/folder/{{ .FolderID }}/{{.FolderName }}"><img class="glyph-medium" src="/admin/images/files.png"/></a></td>
                            <td>{{ .FolderName }}</td>
                            <td>{{ .FolderSize }}</td>
                            <!--<td>-->
                                <!--<a class="downloadLink" href="{{ .FolderPath }}" download="{{ .FolderName }}"><img class="glyph-small" src="/admin/images/download.png"></a>-->
                            <!--</td>-->
                            <td><input type="checkbox" name="checkbox" value="{{ .FolderID }}"/></td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
            <button type="submit" name="action" value="delete-folder">Delete Folder('s)</button>
        </form>
    </div>

    <div class="container large">
        <form id="check-files" method="post" action="/admin/files">
            <table class="files-table">
                <thead><th></th><th>Name</th><th>File Name</th><th>Type</th><th>Size</th></thead>
                <tbody>
                    {{ range $key, $value := $files }}
                        <tr class="meta">
                            <td><a href="{{ .FilePath }}"><img class="media" src="{{ .FilePath }}"/></a></td>
                            <td>{{ .Name }}</td><td>{{ .FileName }}</td>
                            <td>{{ .FileType }}</td><td>{{ .Size }}</td>
                            <td>
                                <a class="downloadLink" href="{{ .FilePath }}" download="{{ .Name }}"><img class="glyph-small" src="/admin/images/download.png"></a>
                            </td>
                            <td><input type="checkbox" name="checkbox" value="{{ .FileID }}"/></td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
            <button type="submit" name="action" value="trash">Trash</button>
            <button type="submit" name="action" value="restore">Restore</button>
            <button type="submit" name="action" value="delete">Delete</button>
        </form>
    </div>

{{ end }}