{{define "posts"}}
<div class="container large">
    <table class="backend-table title">
        <tr><th>Title</th><th>Author</th><th>Category</th><th>Date</th><th>Edit</th><th>View</th><!-- <th>Remove</th> --></tr>
             {{ range $key, $value := .Posts}}
                    <form class="backend-form" method="post" action="<?php echo $action; ?>">
                        <tr>
                            <td class="td-title"><a href="/admin/posts/{{.Post_ID}}/{{.Title}}">{{.Title}}</a></td>
                            <td class="td-author">{{.Author}}</td>
                            <td class="td-category">{{.Category}}</td>
                            <td class="td-date">{{.Date}}</td>
                            <input type="hidden" name="id" value="{{.Post_ID}}" />
                            <td class="td-btn"><a href="/admin/posts/edit/{{.Post_ID}}/{{.Title}}"><img class="glyph-small link-btn" src="/images/edit.png"/></a></td>
                            <td class="td-btn"><img class="glyph-small" src="/images/show.png"/></td>
                            <td class="td-btn"><input type="checkbox" name="checkbox[]" value="{{.Post_ID}}"/></td>
                        </tr>
                    </form>
            {{ end }}
    </table>
</div>
{{end}}
