{{define "add-post"}}
    <div class="container large"><h1>Create new post</h1>

    <form id="addpost-form" action="/posts/add" method="POST">
        <input type="text" name="title" placeholder=" Title"/><br />
        <input type="text" name="description" placeholder="Post Description (max 160 characters)" value=""/><br />
            <label for="select">Category</label>
            <select id="categories" name="cat_name">
                <option name="none" value="None">None</option>
            </select>
            <br />
            <input type="text" name="category" placeholder="Category"/><br />
            <input type="hidden" name="cat_type" value="post"/><br />
        <textarea name="content" rows="20" cols="80"></textarea><br />
        <button type="submit" name="Save">Submit</button>
        </form>
    </form></div>
{{end}}